.paddle {
    height: 150px;
    width: 50px;
    background-color: rebeccapurple;
    border-radius: 4px;

    /* POSITIONING */
    position: absolute;
    left: 20px;
}

.paddle.player2 {
    background-color: salmon;
    /* reset left */
    left: auto;
    right: 20px;
}